%h1 Recipes

%table
  %thead
    %tr
      %th Title
      %th{:colspan => 2} &nbsp;
  %tbody
    %tr
    - for recipe in @recipes
      %tr
        %td
          = recipe.title
        %td
          = link_to 'Show', url(:recipe, recipe)
        %td
          = link_to 'Edit', url(:edit_recipe,  recipe)

= link_to 'New', url(:new_recipe)
