%h3 Login

- if @exception
  %p.error= @exception.message

%div
  %h3 Use Login and Password:
  %form{ :action => url(:merb_auth_perform_login), :method => "POST", :'accept-charset' => "utf-8" }
    %input{ :type => "hidden", :name => "_method", :value => "PUT" }
    %div.formRow
      %label 
        Login:
        %input#login{ :type => "text", :name => "login", :value => "" }
    %div.formRow
      %label
        Password:
        %input#password{ :type => "password", :name => "password", :value => "" }
    %div.formRow
      %input#Submit{ :type => "submit", :name => "Submit", :value => "Log In" }
%br
%div
  %h3 Use OpenID
  %form{ :action => url(:openid) }
    %input{ :type => "text", :name => "openid_url" }
    %input{ :type => "submit", :value => "Open ID" }